.new-agent {
  p {
    width: 60%;
    margin: 2em auto;
  }
  a.model {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 2em auto;
    width: 20%;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #1e1e1e;
      border: 1px solid #1e1e1e;
    }
  }
}