.new-agent {
  span.alert {
    color: red;
    font-weight: 600;
  }
  p {
    width: 60%;
    margin: 30px auto;
  }
  a.model {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 30px auto;
    width: 200px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #1e1e1e;
      border: 1px solid #1e1e1e;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .new-agent {
    form {
      flex-direction: column;
      gap: 15px;
      margin: 50px auto;
    }
  }
}

