html,
body {
  font-family: var(--font-roboto);
}

a:visited {
  color: inherit;
}

main {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2em 0;
}

h2 {
  margin: 2em;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}

th {
  border-bottom: 1px solid grey;
}

td,
th {
  padding: 0.5em;
  text-align: left;
}
