.employee-detail {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      .commentary {
        font-style: italic;
        font-size: 0.9em;
      }
    }
  }
}
