.img-logo {
  width: 200px;
  margin: 10px auto;
  display: block;
  filter: drop-shadow(20px 20px 25px #ffffff);
}

.img-profile {
  background-color: #e6e5e5;
  border-radius: 50%;
}

@media (max-width: 375px) {
  .img-logo {
    width: 150px;
  }
  .img-profile {
    width: 30px;
    height: 30px;
  }
}
