.case-detail {
  padding: 30px 0;
  background-color: #e2e5ed;
  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 15px 0;
  }
  span:not(.MuiChip-label) {
    text-decoration: underline;
  }
}

.case-detail__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 15px;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  min-width: 450px;
  min-height: 350px;
  border-radius: 10px;
  padding: 15px;
  background-color: #f3f3f5;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  .small-text {
    margin: 10px 0;
    font-size: 0.8em;
    font-weight: 600;
    color: #1976d2;
    li {
      width: 80%;
      margin: 2px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span:not(.MuiChip-label) {
        padding-right: 0;
      }
    }
  }
  ul {
    text-align: left;
    li {
      margin: 8px 0;
    }
  }

  .chip {
    margin-left: 30px;
  }
  span:not(.MuiChip-label) {
    font-weight: 600;
    padding-right: 5px;
  }
  hr {
    margin: 15px 0;
  }
  i {
    color: #09c228;
    font-size: 1.2em;
    font-style: normal;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.7));
  }
  .case-detail__icon,
  .case-detail__icon-exa {
    color: #ebd917;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
  .case-detail__icon-exa {
    color: rgb(16, 16, 143);
  }
  .card-detail {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    span {
      display: inline-block;
      margin: 5px 0;
    }
  }
}

.comment__section {
  margin: 30px 0;
  p {
    display: inline-block;
    background-color: #f3f3f5;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    min-height: 0;
  }
}

// .detail-card__comment
