.case-detail {
  padding: 2em 0;
  background-color: #e2e5ed;
  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 1.4em 0;
  }
  .ec {
    color: #ff0000;
    font-size: 1.5em;
  }
  .om {
    color: #ffa500;
    font-size: 1.5em;
  }
  span {
    text-decoration: underline;
  }
}

.case-detail__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
  .center {
    margin: 0 auto;
    .detail-card__comment {
      width: fit-content;
      margin: 1em auto;
      font-size: 1.2em;
      font-weight: 600;
      color: #503df7;
    }
  }
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  min-width: 450px;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #f3f3f5;
  ul {
    text-align: left;
    li {
      margin: 0.5em 0;
    }
  }
  span {
    font-weight: 600;
    padding-right: 0.3em;
  }
  hr {
    margin: 1em 0;
  }
  h4 {
    display: inline;
  }
  i {
    font-size: 1.2em;
    font-style: normal;
    &:hover {
      cursor: pointer;
    }
  }
  .detail-card__comment {
    margin: 1em 0 2em 0;
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
  }
  .not-error {
    color: #00b300;
    font-weight: bold;
    text-align: center;
  }
  .card-detail {
    width: 75%;
    margin: 0 auto;
    padding: 0.5em;
    span {
      display: inline-block;
      margin: 0.3em 0;
    }
  }
}
