.new-case__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 210px 170px 350px 80px;
  gap: 0px 0px;
  grid-template-areas:
    'input-one input-two'
    'input-three input-three'
    'text-area-container text-area-container'
    'btn-container btn-container';
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 15px;
    }
  }
}

.btn-container {
  grid-area: btn-container;
}

.text-area-container {
  grid-area: text-area-container;
}

.input-one {
  grid-area: input-one;
  & > * {
    width: 300px;
  }
}

.input-two {
  grid-area: input-two;
  & > * {
    width: 300px;
  }
}

.input-three {
  grid-area: input-three;
  & > * {
    width: 300px;
  }
  ul {
    width: 70%;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.form__child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#outlined-textarea {
  width: 100%;
}

.textarea-width-first {
  width: 300px;
}

.textarea-width-second {
  width: 600px;
}
