.new-case h2{
    margin: 2em;
    text-align: center;
}

.new-case__form{
    display: flex;
    flex-direction: column;
    .btn-container{
        display: flex;
        justify-content: center;
        margin: 1em;
        button{
            margin: 0 1em;
        }
    }
}

#outlined-textarea{
    width: 100%;
}

.ochooooo{
    width: 600px;
}
